# Dependencias
node_modules/
npm-debug.log*

# Variables de entorno
.env
.env.*

# Archivos de sistema
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Archivos temporales
public/uploads/
.tmp/
.temp/

# Archivos de IDE
.vscode/
.idea/